<footer class="footer" id="footer" role="contentinfo">
	<img src="{{ asset('static/pokewiki.png') }}" width="180" height="53" alt="logo">
	<p>Développé par <strong>Vincent Talgorn</strong> - <strong>Loïc Colin</strong> - <strong>Nicolas Tual</strong></p>
</footer>