{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
	<h1>Connectez-vous</h1>

	{% if error %}
		<div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
	{% endif %}

	<form action="{{ path('auth_login') }}" method="post">
		<label for="username">Adresse e-mail</label>
		<input type="text" id="username" name="_username" value="{{ last_username }}"/>

		<label for="password">Mot de passe</label>
		<input type="password" id="password" name="_password"/>

		<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

		<button type="submit">Se connecter</button>
	</form>
{% endblock %}
