{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}
{% set titleSection = 'Connectez-vous' %}

{% block body %}
	{% include('includes/title.twig') %}

	<form action="{{ path('auth_login') }}" method="post" class="flex flex-col mt-5 p-5 w-7/12 mx-auto h-96 forms">
		{% for flashMessage in app.session.flashbag.get('error') %}
			<div class="bg-red-600 text-white font-medium py-2 px-3.5 text-center rounded-2xl mb-5">
				<span>{{ flashMessage }}</span>
			</div>
		{% endfor %}
		{% if error %}
			<div class="bg-red-600 text-white font-medium py-2 px-3.5 text-center rounded-2xl mb-5">
				{% if error.messageKey|trans(error.messageData, 'security') == 'Invalid credentials.' %}
					<span>Identifiants incorrects</span>
				{% endif %}
			</div>
		{% endif %}
		<div class="flex flex-col mb-4">
			<label for="username" class="mb-1 font-medium">Pseudo</label>
			<input type="text" id="username" name="_username" class="text-lg py-2 px-3.5 rounded-2xl shadow-md outline-none" value="{{ last_username }}"/>
		</div>
		<div class="flex flex-col mb-6">
			<label for="password" class="mb-1 font-medium">Mot de passe</label>
			<input type="password" id="password" class="text-lg py-2 px-3.5 rounded-2xl shadow-md outline-none" name="_password"/>
		</div>
		<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

		<button type="submit" data-mdb-ripple="true" data-mdb-ripple-color="light" class="bg-primary p-3.5 color-secondary font-semibold rounded-2xl shadow-md hover:bg-secondary text-secondary hover:text-primary transition-colors duration-300">SE CONNECTER</button>
	</form>
{% endblock %}